<% if (edit) { %>
    <form action="/personajes/edit" method="POST">
        <input type="hidden" name="id" value="<%= personaje.id %>">
<% } else { %>
    <form action="/personajes/new" method="POST">
<% } %>

    <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
    <div class="field">
        <label for="nombre" class="label">Nombre</label>
        <div class="control">
            <input id="nombre" name="nombre" class="input" type="text" placeholder="e.g. Santorini, Grecia" 
                value="<% if(edit) { %><%= personaje.nombre %><% } %>"
            >
        </div>
    </div>

    <div class="field">
        <label for="descripcion" class="label">Descripción</label>
        <div class="control">
            <input id="descripcion" name="descripcion" class="input" type="text" 
                placeholder="e.g. Un destino costero ideal para caminar entre calles blancas y vistas al mar."
                value="<% if(edit) { %><%= personaje.descripcion %><% } %>"
            >
        </div>
    </div>

    <div class="field">
        <label for="tipo" class="label">Tipo de viaje</label>
        <div class="select">
            <select id="tipo" name="tipo" class="select">
                <% for(let tipo of tipos) { %>
                    <option value="<%= tipo.id %>" 
                        <% if(edit) { %>
                            <% if (personaje.tipo_id == tipo.id) {%>
                                selected
                            <% } %>
                        <% } %>
                    >
                        <%= tipo.tipo %>
                    </option>
                <% } %>
            </select>
        </div>
    </div>

    <div class="field">
        <label for="imagen" class="label">Imagen</label>
        <div class="control">
            <input id="imagen" name="imagen" class="input" type="text" 
                placeholder="e.g. https://images.unsplash.com/..."
                value="<% if(edit) { %><%= personaje.imagen %><% } %>"
            >
        </div>
    </div>

    <input class="button is-primary" type="submit" value="Guardar destino">
</form>
