<%- include('includes/_header') %>

        <a class="button is-primary" href="/personajes/new">Nuevo personaje</a>
        <div class="columns">

        <% if(personajes.length == 0) { %>
            <div class="column">
                No hay personajes registrados.
            </div>
        <% } else { %>

            <% for (let personaje of personajes) { %>

                <div class="column">
                    <a href="/personajes/<%= personaje.id %>"><%= personaje.nombre %></a>
                    <br>
                    <a class="button is-small is-light" href="/personajes/edit/<%= personaje.id %>">Editar</a>
                    <figure class="image is-128x128">
                        <img class="is-rounded" src="<%= personaje.imagen %>" />
                    </figure>
                </div>
                    
            <% } %>
            
        <% } %>

        </div>
    </div>
</section>

<%- include('includes/_footer') %>
