<%- include('includes/_header') %>

<% let puede_crear = false; %>
<% let puede_editar = false; %>
<% for (let permiso of permisos) { %>
    <% if (permiso.nombre_privilegio == 'crear_personajes') { %>
        <% puede_crear = true; %>
    <% } %>
    <% if (permiso.nombre_privilegio == 'editar_personajes') { %>
        <% puede_editar = true; %>
    <% } %>
<% } %>

<% if (puede_crear) { %>
    <a class="button is-primary section-action" href="/personajes/new">Nuevo destino</a>
<% } %>

<% if (personajes.length == 1) { %>
    <a class="button is-link section-action" href="/personajes">Ver todos los destinos</a>
<% } %>

        <div class="characters-grid">

        <% if(personajes.length == 0) { %>
            <div class="character-empty">
                No hay destinos registrados.
            </div>
        <% } else { %>

            <% for (let personaje of personajes) { %>

                <article class="character-card">
                    <a class="character-link" href="/personajes/<%= personaje.id %>">
                        <figure class="image character-image">
                            <img class="is-rounded <% if (personaje.nombre == 'Mallorca, España' || personaje.nombre == 'Marruecos') { %>character-image-centered<% } %>" src="<%= personaje.imagen %>" />
                        </figure>
                        <h2 class="character-name"><%= personaje.nombre %></h2>
                    </a>
                    <div class="character-actions">
                    <% if (puede_editar) { %>
                        <a class="button is-primary" href="/personajes/<%= personaje.id %>/edit">
                            <span>Editar</span>
                        </a>
                    <% } %>
                    </div>
                </article>
                    
            <% } %>
            
        <% } %>

        </div>
    </div>
</section>

<%- include('includes/_footer') %>
